p.quote-text {
  font-size: var(--body-font-size);
  font-style: italic;
  color: blue;
  margin: 0;
}

p.quote-author {
  font-size: var(--body-font-size-xs);
  color: greenyellow;
  margin-top: 8px;
}